@page "/"

<h1><strong>Welcome to RecipeBox!</strong></h1>
<br />
<h5>Keep your favorite recipes at your fingertips.</h5>
<br />

<p>Click on the Recipes link in the navigation menu to get started.</p>